<ion-content class="bg-content" color="bg-content">
  <div class="header">
    <ion-toolbar color="bg">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon src="../../assets/icon/back-btn.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="infos">
        <span>Akshaya Pet Clinic</span> 
      </div>
      
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon src="../../assets/icon/notifications.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
    <ion-segment scrollable>
        <ion-col size="3">
          <div class="categorie-img active">

          </div>
          <span class="title-categorie">General</span>
        </ion-col>
        <ion-col size="3">
          <div class="categorie-img">

          </div>
          <span class="title-categorie">Surgery</span>
        </ion-col>
        <ion-col size="3">
          <div class="categorie-img">

          </div>
          <span class="title-categorie">Diabetogist</span>
        </ion-col>
        <ion-col size="3">
          <div class="categorie-img">

          </div>
          <span class="title-categorie">Endocrinologist</span>
        </ion-col>
        <ion-col size="3">
          <div class="categorie-img">

          </div>
          <span class="title-categorie">Test</span>
        </ion-col>
        <ion-col size="3">
          <div class="categorie-img">

          </div>
          <span class="title-categorie">Test</span>
        </ion-col>
    </ion-segment>
  </div>
  <div class="clinics">
    <div class="clinic" (click)="go()">
      <ion-row>
        <ion-col size="8">
              <span class="clinic-name">Akshaya Pet Clinic,</span>
              <span class="txt-address">Speciality : General Physician</span>
              <p class="txt-distance-detail"><span>Distance</span> 20Mins(5KM) </p>
        </ion-col>
        <ion-col size="4">
          <div class="map">

          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="clinic">
      <ion-row>
        <ion-col size="8">
              <span class="clinic-name">Akshaya Pet Clinic,</span>
              <span class="txt-address">Speciality : General Physician</span>
              <p class="txt-distance-detail"><span>Distance</span> 20Mins(5KM) </p>
        </ion-col>
        <ion-col size="4">
          <div class="map">

          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="clinic">
      <ion-row>
        <ion-col size="8">
              <span class="clinic-name">Akshaya Pet Clinic,</span>
              <span class="txt-address">Speciality : General Physician</span>
              <p class="txt-distance-detail"><span>Distance</span> 20Mins(5KM) </p>
        </ion-col>
        <ion-col size="4">
          <div class="map">

          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="clinic">
      <ion-row>
        <ion-col size="8">
              <span class="clinic-name">Akshaya Pet Clinic,</span>
              <span class="txt-address">Speciality : General Physician</span>
              <p class="txt-distance-detail"><span>Distance</span> 20Mins(5KM) </p>
        </ion-col>
        <ion-col size="4">
          <div class="map">

          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="clinic">
      <ion-row>
        <ion-col size="8">
              <span class="clinic-name">Akshaya Pet Clinic,</span>
              <span class="txt-address">Speciality : General Physician</span>
              <p class="txt-distance-detail"><span>Distance</span> 20Mins(5KM) </p>
        </ion-col>
        <ion-col size="4">
          <div class="map">

          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="clinic">
      <ion-row>
        <ion-col size="8">
              <span class="clinic-name">Akshaya Pet Clinic,</span>
              <span class="txt-address">Speciality : General Physician</span>
              <p class="txt-distance-detail"><span>Distance</span> 20Mins(5KM) </p>
        </ion-col>
        <ion-col size="4">
          <div class="map">

          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
