.slides{
    margin-top:-16%;
}
.bg-content{
    background:#E7EBF2;

}
ion-button>ion-icon{
    color:#fff;
}
ion-slide>h2{
    position: absolute;
    left: 10px;
    top: 160px;
    color: white;
}
.profile{
    width: 90%;
    height: auto;
    background: #fff;
    margin: auto;
    border-radius: 5px;
    margin-top: -50px;
    z-index: 2;
    position: relative;
    padding: 20px;
}
.avatar{
    border-radius: 50%;
}
.name-testimonial{
    display: block;
    font-weight: bold;
    color: #000;
}
.job-testimonial{
    color: #000;
    font-size: 12px;
}
hr{
    background: #ccc;
    height: 1.5px;
}
.exp_title{
    color: #6d6b6b;
    font-size: 12px;
}
.exp_subtitle{
    display: block;
    font-weight: bold;
    color: #000;
    font-size: 22px;
}
.section{
    text-align: center;
}
.section>ion-icon{
    display: block;
    color: #9d7ded;
    position: relative;
    left: 40%;
    margin-bottom: 10px;
}
.section>.exp_title{
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.section>.exp_subtitle{
    color: #6d6b6b;
    font-size: 12px;
    font-weight: 400;
}
.card{
    width: 90%;
    height: auto;
    background: #fff;
    margin: 10px auto;
    border-radius: 5px;
    z-index: 2;
    padding: 20px;
}
.last-child{
  margin-bottom: 60px;
}
.card>h6{
    font-weight: bold;
}
.card>p{
    font-size: 13px;
    position: relative;
    top: -10px;
}
.card>.map{
   width: 100%;
   height: 100px;
   background-color: #ccc;
}
.card>.title{
  display: block;
  color: #8c8989;
  font-size: 12px;
}
.card>.subtitle{
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}
.card>.label{
    display: block;
    font-size: 14px;
    color: #413e3e;
    position: relative;
    left:20%;
    margin-bottom: 20px;

}
.footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #51329b;
    color: #fff;
    text-align: center;
    padding:15px 0px;
}
.footer>ion-icon{
    font-size:25px;
}
.footer>span{
    position: relative;
    left: 10px;
    top: -5px;
}