.bg-content{
    background:url('../../assets/imgs/about-bg.png');
    background-size: cover;
}
ion-icon{
    color: #fff;
}
.infos>span{
    color: #fff;
}
.content{
    padding: 60px 30px;
    color: #fff;
    font-size: 13px;
}